<h2>{{ titulo }}</h2>
<p>Las zapatillas tienen que ir a juego con tu personalidad</p>

<p><strong>Añadir marca </strong> - (presiona enter para capturar el evento keyup.enter)</p>
<p>
  <input type="text" [(ngModel)]="miMarca" (blur)="onBlur()" (keyup.enter)="mostrarPalabra()"/>
  <button (click)="getMarca()">Mostrar Marca</button>
  <button (click)="addMarca()">Añadir Marca</button>


</p>
<p>{{miMarca}}</p>

<div>
  Tenemos las marcas más top
  <ul>
    <li *ngFor="let marca of marcas; let indice = index">
      {{indice + ' ' + marca}} <!-- con let indice = index puedo sacar los indices-->
    <button (click)="borrarMarca(indice)">Borrar Marca</button>
    </li>
  </ul>
</div>

<ul>
  <!-- Hacemos un ternario para determinar el color del texto: -->
  <li *ngFor="let deportiva of zapatillas">
    <span [ngStyle]="{
    'text-decoration': !deportiva.stock ? 'line-through' : 'none'
    }">
      {{deportiva.nombre}} de color {{deportiva.color}} y de marca {{deportiva.marca}}
      <strong
        [class.altoPrecio] ="deportiva.precio >= 80"
        [ngClass] ="{
        'fondoRojo': deportiva.precio > 100,
        'subrayado': deportiva.marca == 'Nike'
        }"
      >
        cuesta {{deportiva.precio}}€
      </strong>
    </span>


    <span *ngIf="deportiva.precio <= 80"
          [style.background]="deportiva.precio < 80 ? '#0acc37' : 'transparent'"
          [style.color]="deportiva.precio < 80 ? 'white' : 'black'"
    >

      <strong>¡OFERTA!</strong></span>

    <span *ngIf="deportiva.stock == false"
          [style.background]="deportiva.stock == false ? 'red' : 'transparent'">
      <strong>Agotado</strong></span>
  </li>

  <!-- Otra forma de hacerlo con [ngStyle]:
  <li *ngFor="let deportiva of zapatillas">{{deportiva.nombre}} de color {{deportiva.color}} y de marca {{deportiva.marca}} cuesta {{deportiva.precio}}€
    <span *ngIf="deportiva.precio <= 80"  [ngStyle]="{'color':'#0acc37'}"><strong>¡OFERTA!</strong></span>
    <span *ngIf="deportiva.stock == false" [ngStyle]="{'color':'red'}"><strong>Agotado</strong></span>
  </li>
  */-->
</ul>

<p>El color de la mayoría de nuestras zapatillas es:</p>
<input [(ngModel)]="color"/>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'yellow'">
    El color predominante es el <span [ngStyle]="{'background-color':color}">amarillo</span>.
  </li>
  <li *ngSwitchCase="'white'">
    El color predominante es el <span [ngStyle]="{'background-color':color}">blanco</span>.
  </li>
  <li *ngSwitchCase="'red'">
    El color predominante es el <span [ngStyle]="{'background-color':color}">rojo</span>.
  </li>
  <li *ngSwitchCase="'blue'">
    El color predominante es el <span [ngStyle]="{'background-color':color, 'color':'white'}">azul</span>.
  </li>
  <li *ngSwitchCase="'orange'">
    El color predominante es el <span [ngStyle]="{'background-color':color}">naranja</span>.
  </li>
  <li *ngSwitchCase="'pink'">
    El color predominante es el <span [ngStyle]="{'background-color':color}">rosa</span>.
  </li>
  <li *ngSwitchCase="'purple'">
    El color predominante es el <span [ngStyle]="{'background-color':color, 'color':'white'}">púrpura</span>.
  </li>
  <li *ngSwitchCase="'brown'">
    El color predominante es el <span [ngStyle]="{'background-color':color, 'color':'white'}">marrón</span>.
  </li>
  <li *ngSwitchCase="'black'">
    El color predominante es el <span [ngStyle]="{'background-color':color, 'color':'white'}">negro</span>.
  </li>
  <li *ngSwitchCase="'grey'">
    El color predominante es el <span [ngStyle]="{'background-color':color, 'color':'white'}">gris</span>.
  </li>
  <li *ngSwitchCase="'green'">
    El color predominante es el <span [ngStyle]="{'background-color':color, 'color':'white'}">verde</span>.
  </li>
</ul>
