<h2>{{ titulo }}</h2> <!-- Hacemos binding por interporlación y nos traemos título y listado de las propiedades de videgame.component.ts-->
<h4>{{ listado }}</h4>
<ul>
  <li>Sea of thieves</li>
  <li>Fall Guys</li>
  <li>Half Life Source</li>
</ul>

<button (click)="cambiarTitulo()">Cambiar Título</button> <!-- Los eventos en angular se llaman entre paréntesis-->
<!-- <app-go-back></app-go-back>-->
<!-- el componente app-go-back me recarga la página entera y no tiene sentido, por eso no lo vamos a usar, en su lugar usaremos una ruta del routing que llamaremos Go Home-->
<p><a [routerLink]="['/home/']">Go Home</a></p>
