<p>home works!</p>
<!-- Estas rutas recargan la página, no son instantáneas, para que sean instantáneas hemos hecho [routerLink] en app.component.html
<h3>Rutas disponibles</h3>
<ol>
  <li>home: <a href="">http://localhost:4200/</a></li>
  <li>home2: <a href="/home2">http://localhost:4200/home2</a></li>
  <li>videogame: <a href="/videogame">http://localhost:4200/videogame</a></li>
  <li>zapatillas: <a href="/zapatillas">http://localhost:4200/zapatillas</a></li>
  <li>cursos: <a href="/cursos">http://localhost:4200/cursos</a></li>

</ol>
-->
